[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
cryptography = "*"
python-dotenv = "*"
pydantic = "*"
temporalio = {extras = ["opentelementry"], version = "*"}
prometheus-client = "*"
sqlalchemy = "*"

[dev-packages]
black = "*"
types-requests = "*"
mypy = "*"
pytest = "*"
pytest-asyncio = "*"
coverage = "*"

[requires]
python_version = "3.12"

[scripts]
coverage = "coverage run -m unittest discover"
report = "coverage report"
html = "coverage html"
